*/{
    padding: 0;
    margin: 0;
}
.logo{
    margin: 15px;
    position: inherit;
}
.header{
    margin-top: 15px;
}
.header1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
.romiii{
    padding-left: 50px;
    width: 220px;
}
.menu{
    width: 600px;
    float: right;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
}
ul li a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
ul li a:hover{
    text-decoration: underline;
    transition: 0.6s ease;
}
.contact{
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    background-color: rgb(227, 255, 0);
    border: none;
    color: black;
    text-decoration: none;
}

.contact:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s ease ;
    text-decoration: none;
}
.contacttt{
    display: flex;
    padding-top: 200px;
}
.cont{
    font-size: 60px;
    padding-left: 65px;
    float: left;
}
.conta img{
    width: 700px;
    padding-left: 50px;
}
.we{
    font-size: 17px;
}
.help{
    padding-left: 650px;
    list-style: none;
    font-size: 22px;
    line-height: 2.5;
}
.contacti{
    display: flex;
    padding-top: 100px;
}
.forms{
    padding-left: 30px;
}
.tell{
    font-size: 50px;
}
input, textarea{
    background-color: whitesmoke;
    border: none;
    display: block;
    padding: 15px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.contact-form{
    margin-top: 30px;
    padding: 50px;
    padding-left: 5px;
}
.submit{
    background: rgb(227, 255, 0);
    margin: 10px auto;
    font-size: 17px;
    color: black;
    border: none; 
    padding: 10px;
    display: block;
    padding-left: 250px;
    padding-right: 250px;
}
.footer{
    background-color: whitesmoke;
}
.mainfoot{
    display: flex;
    padding: 70px;
    font-size: 18px;
    list-style: none;
    margin: auto;
    line-height: 2.0;
}
.romanio img{
    width: 180px;
}
.head{
    padding-right: 200px;
    padding-left: 200px;
}
.navigator{
    padding-right: 200px;
}
.term{
    list-style: none;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 10px;
}
.by{
    text-align: right;
}
.built{
    text-align: center;
    font-size: 18px;
}
li a{
    text-decoration: none;
    color: black;
}
.wixlink{
    color: black;
}
